.font,p,footer,header,li,h1,h2,h3,h4,h5,h6{
    font-family:Merienda;
    }
    body{
        font-family: Merienda, Helvetica Neue, sans-serif;
        color: white;
    }
    .wrapper{
    width:100%;
    }
    ul li{
    display:inline;
    margin-left:3%;
    }
    .header{
    width:99%;
    color:white;
    padding:0.1% 0%;
    margin-top:2%;
    font-size:18px;
    background-size:cover;
    text-align:center;
    background: rgba(0, 0, 0, 0.5);
    }
    .contact{
    width:99%;
    float:left;

    }
    .right{
    width:12%;
    float:right;
    margin-right:2%;
    margin-top:1%;
    font-size:18px;
    text-align:left;
    background-color:blue;
    }

    .footer{
    width:99%;
    clear:both;
    font-size:18px;
    background-size:cover;
    text-align:center;
    background: rgba(0, 0, 0, 0.5);

    }
    .content{
    margin-top: 40px;
    width:99%;
    font-size:18px;
    color:white;
    text-align:center;
    }
    table{
    text-align:left;
    color:#999;
    margin: 30px auto;
    border: 2px solid white;
    width: 80%;
    }
    th{
        color: white;
        font-variant: small-caps;
        background-color: rgba(0,0,0,0.3);
        text-align: center;
    }
    td{
    color:white;
    }
    input[type=submit]{
        background-color: #e74c3c;
        border: 0px;
        padding: 10px 20px;
        color: white;
        font-size: 20px;
        font-family: Merienda, Helvetica Neue, sans-serif;
    }
    input[type=submit]:hover{
        cursor: pointer;
        background-color: #3498db;
        font-family: Merienda, Helvetica Neue, sans-serif;
        -webkit-transition: background-color 0.4s ease-out;
    }
    li a:hover{
	    text-decoration: underline;
	    -webkit-transition: text-decoration 1s ease-out;
    }
    li a{
	    color: white;
	    text-decoration: none;
    }
    